<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {% if settings.custom_favicon %}
      <link rel="icon" href="{{ settings.custom_favicon | image_url: width: 32 }}" type="image/png">
      <link rel="shortcut icon" href="{{ settings.custom_favicon | image_url: width: 32 }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.custom_favicon | image_url }}">
    {% endif %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
