

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577378982471664355.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-577378982471664355.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-577378982471664355.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577378982471664355.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577378982471664355.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577378982471664355.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577378982471664355.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577378982471664355.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577378982471664355.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577378982471664355.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577378982471664355.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577378982471664355.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577378982471664355.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577378982471664355.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577378982471664355.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577378982471664355.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577378982471664355.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577378982471664355.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577378982471664355.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577378982471664355.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577378982471664355.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577378982471664355.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577378982471664355.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577378982471664355.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577378982471664355.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577378982471664355.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577378982471664355.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-577378982471664355.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577378982471664355.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577378982471664355.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577378982471664355.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577378982471664355.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577378982471664355.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577378982471664355.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577378982471664355.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577378982471664355.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577378982471664355.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-577378982471664355.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-577378982471664355.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577378982471664355.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577378982471664355.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577378982471664355.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577378982471664355.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577378982471664355.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577378982471664355.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577378982471664355.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577378982471664355.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577378982471664355.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577378982471664355.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577378982471664355.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577378982471664355.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577378982471664355.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577378982471664355.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577378982471664355.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577378982471664355.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577378982471664355.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577378982471664355.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577378982471664355.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577378982471664355.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577378982471664355.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577378982471664355.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577378982471664355.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577378982471664355.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577378982471664355.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577378982471664355.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577378982471664355.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-577378982471664355.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577378982471664355.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577378982471664355.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577378982471664355.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577378982471664355.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577378982471664355.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577378982471664355 .gp-relative{position:relative}.gps-577378982471664355 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577378982471664355 .gp-mb-0{margin-bottom:0}.gps-577378982471664355 .gp-inline-block{display:inline-block}.gps-577378982471664355 .gp-flex{display:flex}.gps-577378982471664355 .gp-inline-flex{display:inline-flex}.gps-577378982471664355 .gp-grid{display:grid}.gps-577378982471664355 .gp-contents{display:contents}.gps-577378982471664355 .\!gp-hidden{display:none!important}.gps-577378982471664355 .gp-hidden{display:none}.gps-577378982471664355 .gp-h-auto{height:auto}.gps-577378982471664355 .gp-h-full{height:100%}.gps-577378982471664355 .gp-w-full{width:100%}.gps-577378982471664355 .gp-max-w-full{max-width:100%}.gps-577378982471664355 .gp-flex-none{flex:none}.gps-577378982471664355 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577378982471664355 .gp-flex-col{flex-direction:column}.gps-577378982471664355 .gp-items-center{align-items:center}.gps-577378982471664355 .gp-justify-center{justify-content:center}.gps-577378982471664355 .gp-overflow-hidden{overflow:hidden}.gps-577378982471664355 .gp-leading-\[0\]{line-height:0}.gps-577378982471664355 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-577378982471664355 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378982471664355 .gp-duration-200{transition-duration:.2s}.gps-577378982471664355 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-577378982471664355 .tablet\:\!gp-hidden{display:none!important}.gps-577378982471664355 .tablet\:gp-hidden{display:none}.gps-577378982471664355 .tablet\:gp-h-auto{height:auto}.gps-577378982471664355 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-577378982471664355 .mobile\:\!gp-hidden{display:none!important}.gps-577378982471664355 .mobile\:gp-hidden{display:none}.gps-577378982471664355 .mobile\:gp-h-auto{height:auto}.gps-577378982471664355 .mobile\:gp-flex-none{flex:none}}.gps-577378982471664355 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-577378982471664355 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-577378982471664355 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-577378982471664355 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-577378982471664355 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPGK3IV4Wg"}' data-id="gPGK3IV4Wg" id="gPGK3IV4Wg" data-same-height-subgrid-container class="gPGK3IV4Wg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(undefined);--pb:var(undefined);--cg:auto;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gncWiDaR1l gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gEfuSvwnsm"}' data-id="gEfuSvwnsm" id="gEfuSvwnsm" data-same-height-subgrid-container class="gEfuSvwnsm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:auto;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gmiDSc_XJk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gB2zgUNfi4"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:left"
      class="gp-group/image gp-relative force-publish-1755007421588 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gB2zgUNfi4"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/ed522d7d-0768-428f-86cf-0d45a6792d16/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODEtODY0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgxIiBoZWlnaHQ9Ijg2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIGZpbGw9InVybCgjZy0xMDgxLTg2NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODEiIHRvPSIxMDgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ed522d7d-0768-428f-86cf-0d45a6792d16/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODEtODY0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgxIiBoZWlnaHQ9Ijg2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIGZpbGw9InVybCgjZy0xMDgxLTg2NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODEiIHRvPSIxMDgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://ucarecdn.com/ed522d7d-0768-428f-86cf-0d45a6792d16/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODEtODY0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgxIiBoZWlnaHQ9Ijg2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIGZpbGw9InVybCgjZy0xMDgxLTg2NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODEiIHRvPSIxMDgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://ucarecdn.com/ed522d7d-0768-428f-86cf-0d45a6792d16/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gqSPj8xlxJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLlR-ScOxD"}' data-id="gLlR-ScOxD" id="gLlR-ScOxD" data-same-height-subgrid-container class="gLlR-ScOxD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:56px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:500px;--w-tablet:470px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnajjl-crI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g03oAGr9L_"
        class="g03oAGr9L_"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:49px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421592"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg03oAGr9L__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gsVD3k-p2M ">
      
    
    <div class="gp-flex" >
    <div
      data-id="gsVD3k-p2M"
       style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l)"
        >
        
    <li
      data-index="0" data-id="gxcvpDxx7A"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gsVD3k-p2M"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gZwuzDq-QO gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g7AUTZoB8W" class="gp-leading-[0] g7AUTZoB8W" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g7AUTZoB8W" class="icon-wrapper gp-inline-flex gp-overflow-hidden g7AUTZoB8W " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gLuzRyTZGD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTZ4FJGyw1"
        class="gTZ4FJGyw1"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421601"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTZ4FJGyw1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="gTvhUw18kk"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gsVD3k-p2M"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gHtV4l0bnQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gj1QpQpkHC" class="gp-leading-[0] gj1QpQpkHC" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gj1QpQpkHC" class="icon-wrapper gp-inline-flex gp-overflow-hidden gj1QpQpkHC " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gzNdhH-sSJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjvlSCCji6"
        class="gjvlSCCji6"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421604"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjvlSCCji6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="2" data-id="gxhfKABKnP"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gsVD3k-p2M"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gVQnNJ-854 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g7gAPY5_X6" class="gp-leading-[0] g7gAPY5_X6" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g7gAPY5_X6" class="icon-wrapper gp-inline-flex gp-overflow-hidden g7gAPY5_X6 " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="g79ZQ084mH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIagF749DW"
        class="gIagF749DW"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421607"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIagF749DW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="3" data-id="gopzI6LYj7"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gsVD3k-p2M"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gNLj1TuCg6 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gqgGPryjnu" class="gp-leading-[0] gqgGPryjnu" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gqgGPryjnu" class="icon-wrapper gp-inline-flex gp-overflow-hidden gqgGPryjnu " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="ggGIt7gO-9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFbBWUy9bz"
        class="gFbBWUy9bz"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421609"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFbBWUy9bz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="4" data-id="gkVLvZlNLO"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gsVD3k-p2M"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gIl6rIZymB gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g5vLNAcm4F" class="gp-leading-[0] g5vLNAcm4F" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g5vLNAcm4F" class="icon-wrapper gp-inline-flex gp-overflow-hidden g5vLNAcm4F " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gWd4RvG65e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNXGy-_oYc"
        class="gNXGy-_oYc"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421611"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNXGy-_oYc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="5" data-id="ggwqX_ldZf"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gsVD3k-p2M"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gN2_Ydi9Z2 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gmI4eEKZDD" class="gp-leading-[0] gmI4eEKZDD" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gmI4eEKZDD" class="icon-wrapper gp-inline-flex gp-overflow-hidden gmI4eEKZDD " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gVFgCpR40u gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqI2lvUmBh"
        class="gqI2lvUmBh"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421614"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqI2lvUmBh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#639651","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gN2SZFXKdv"}' data-id="gN2SZFXKdv" id="gN2SZFXKdv" data-same-height-subgrid-container class="gN2SZFXKdv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:auto;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#639651;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="g9xGXNVygK gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6iO9sJVky"}' data-id="g6iO9sJVky" id="g6iO9sJVky" data-same-height-subgrid-container class="g6iO9sJVky gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:56px;--pr-mobile:15px;--pt-tablet:var(--g-s-l);--pl-tablet:15px;--pb-tablet:var(--g-s-l);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:500px;--w-tablet:500px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2-qAIBLak gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHQ76WWXgy"
        class="gHQ76WWXgy"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:49px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421621"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHQ76WWXgy_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gIdBpjj1M8 ">
      
    
    <div class="gp-flex" >
    <div
      data-id="gIdBpjj1M8"
       style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l)"
        >
        
    <li
      data-index="0" data-id="g2tq8giNEh"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gIdBpjj1M8"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gjfB-petRp gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gdO7yUJhsz" class="gp-leading-[0] gdO7yUJhsz" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gdO7yUJhsz" class="icon-wrapper gp-inline-flex gp-overflow-hidden gdO7yUJhsz " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gEzage1j70 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6IEnaBsQm"
        class="g6IEnaBsQm"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421624"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6IEnaBsQm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="gFa04u4hpj"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gIdBpjj1M8"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gXgCzraW4u gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gHcIAth_HY" class="gp-leading-[0] gHcIAth_HY" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gHcIAth_HY" class="icon-wrapper gp-inline-flex gp-overflow-hidden gHcIAth_HY " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gZWriPEz_U gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grb3W5X9a6"
        class="grb3W5X9a6"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421627"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrb3W5X9a6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="2" data-id="gglZHQ3VEK"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gIdBpjj1M8"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gW361jFLl7 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsNQ74S4fo" class="gp-leading-[0] gsNQ74S4fo" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gsNQ74S4fo" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsNQ74S4fo " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gyVjnrziQc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt-ccI8vNe"
        class="gt-ccI8vNe"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421629"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt-ccI8vNe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="3" data-id="gK-a41XeXx"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gIdBpjj1M8"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gCiLotdokZ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="grbPjVI80q" class="gp-leading-[0] grbPjVI80q" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="grbPjVI80q" class="icon-wrapper gp-inline-flex gp-overflow-hidden grbPjVI80q " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gcew-D9-zD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-KMEXN99y"
        class="g-KMEXN99y"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421631"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-KMEXN99y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="4" data-id="g_Or_3yqIw"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gIdBpjj1M8"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="gApTbVe4nM gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gyFhz5mAUL" class="gp-leading-[0] gyFhz5mAUL" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gyFhz5mAUL" class="icon-wrapper gp-inline-flex gp-overflow-hidden gyFhz5mAUL " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gWbPusTZGA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEtlS4VDWS"
        class="gEtlS4VDWS"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421634"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEtlS4VDWS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="5" data-id="gLlrj2IvMb"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gIdBpjj1M8"
      style="--cg:var(--g-s-xl)"
    >
    <div
      data-same-height-display-contents
      
      class="goNXBWls1q gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gVNdYWIVoX" class="gp-leading-[0] gVNdYWIVoX" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gVNdYWIVoX" class="icon-wrapper gp-inline-flex gp-overflow-hidden gVNdYWIVoX " style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent">
      
        <div >
          <span style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-bg-3"><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 42.048C398.016 -103.936 753.088 151.52 256 480 -241.088 151.552 113.984 -103.936 256 42.048z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gLkrC8qJYI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goUPlfua24"
        class="goUPlfua24"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007421667"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoUPlfua24_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gYEefGHHTY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gk2CuusDph"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:left"
      class="gp-group/image gp-relative force-publish-1755007421669 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gk2CuusDph"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/816657a2-098b-4b0e-af89-8b66de637d3f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODEtODY0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgxIiBoZWlnaHQ9Ijg2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIGZpbGw9InVybCgjZy0xMDgxLTg2NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODEiIHRvPSIxMDgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/816657a2-098b-4b0e-af89-8b66de637d3f/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODEtODY0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgxIiBoZWlnaHQ9Ijg2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIGZpbGw9InVybCgjZy0xMDgxLTg2NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODEiIHRvPSIxMDgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://ucarecdn.com/816657a2-098b-4b0e-af89-8b66de637d3f/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwODEtODY0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDgxIiBoZWlnaHQ9Ijg2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MSIgaGVpZ2h0PSI4NjQiIGZpbGw9InVybCgjZy0xMDgxLTg2NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwODEiIHRvPSIxMDgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://ucarecdn.com/816657a2-098b-4b0e-af89-8b66de637d3f/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-577378982471664355 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/993mqj-bi/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577378957289062950&sectionId=577378982471664355)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg03oAGr9L__text","label":"gg03oAGr9L__text","default":"<p>Avacera - let hair be your attraction</p>"},{"type":"html","id":"ggTZ4FJGyw1_text","label":"ggTZ4FJGyw1_text","default":"<p>Organic &amp; transformative formulas</p>"},{"type":"html","id":"ggjvlSCCji6_text","label":"ggjvlSCCji6_text","default":"<p>Guaranteed results from 4 to 8 weeks</p>"},{"type":"html","id":"ggIagF749DW_text","label":"ggIagF749DW_text","default":"<p>No Sulfate, Phthalate and Phosphate</p>"},{"type":"html","id":"ggFbBWUy9bz_text","label":"ggFbBWUy9bz_text","default":"<p>For every hair type and texture</p>"},{"type":"html","id":"ggNXGy-_oYc_text","label":"ggNXGy-_oYc_text","default":"<p>Vegan, cruelty-free &amp; gluten-free&nbsp;</p>"},{"type":"html","id":"ggqI2lvUmBh_text","label":"ggqI2lvUmBh_text","default":"<p>Eco-friendly practices and packaging</p>"},{"type":"html","id":"ggHQ76WWXgy_text","label":"ggHQ76WWXgy_text","default":"<p>Hairdressing salon standard at home</p>"},{"type":"html","id":"gg6IEnaBsQm_text","label":"gg6IEnaBsQm_text","default":"<p>Organic &amp; transformative formulas</p>"},{"type":"html","id":"ggrb3W5X9a6_text","label":"ggrb3W5X9a6_text","default":"<p>Guaranteed results from 4 to 8 weeks</p>"},{"type":"html","id":"ggt-ccI8vNe_text","label":"ggt-ccI8vNe_text","default":"<p>No Sulfate, Phthalate and Phosphate</p>"},{"type":"html","id":"gg-KMEXN99y_text","label":"gg-KMEXN99y_text","default":"<p>For every hair type and texture</p>"},{"type":"html","id":"ggEtlS4VDWS_text","label":"ggEtlS4VDWS_text","default":"<p>Vegan, cruelty-free &amp; gluten-free&nbsp;</p>"},{"type":"html","id":"ggoUPlfua24_text","label":"ggoUPlfua24_text","default":"<p>Eco-friendly practices and packaging</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
