

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577378976163431412.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-577378976163431412.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-577378976163431412.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577378976163431412.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-577378976163431412.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577378976163431412.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577378976163431412.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577378976163431412.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-577378976163431412.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577378976163431412.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577378976163431412.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577378976163431412.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577378976163431412.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577378976163431412.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-577378976163431412.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577378976163431412.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577378976163431412.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-577378976163431412.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577378976163431412.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577378976163431412.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577378976163431412.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-577378976163431412.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577378976163431412.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577378976163431412.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-577378976163431412.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577378976163431412.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577378976163431412.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577378976163431412.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-577378976163431412.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577378976163431412.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577378976163431412.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-577378976163431412.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577378976163431412.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577378976163431412.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-577378976163431412.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577378976163431412.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-577378976163431412.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577378976163431412.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577378976163431412.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-577378976163431412.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577378976163431412.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577378976163431412.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577378976163431412.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577378976163431412.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577378976163431412.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577378976163431412.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577378976163431412.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577378976163431412.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-577378976163431412.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577378976163431412.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577378976163431412.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577378976163431412.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577378976163431412.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577378976163431412.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577378976163431412.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577378976163431412.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-577378976163431412.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577378976163431412.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577378976163431412.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577378976163431412.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577378976163431412.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577378976163431412.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577378976163431412.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577378976163431412.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577378976163431412.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-577378976163431412.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577378976163431412.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577378976163431412.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577378976163431412.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-577378976163431412.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577378976163431412.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577378976163431412.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577378976163431412.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577378976163431412.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-577378976163431412.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577378976163431412.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577378976163431412.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577378976163431412.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577378976163431412.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577378976163431412.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577378976163431412.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577378976163431412.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577378976163431412.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577378976163431412.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-577378976163431412.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-577378976163431412.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577378976163431412.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577378976163431412.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-577378976163431412.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577378976163431412.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577378976163431412.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577378976163431412.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577378976163431412.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-577378976163431412.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577378976163431412.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577378976163431412 .gp-relative{position:relative}.gps-577378976163431412 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577378976163431412 .gp-mb-0{margin-bottom:0}.gps-577378976163431412 .gp-inline-block{display:inline-block}.gps-577378976163431412 .gp-flex{display:flex}.gps-577378976163431412 .gp-inline-flex{display:inline-flex}.gps-577378976163431412 .gp-grid{display:grid}.gps-577378976163431412 .gp-contents{display:contents}.gps-577378976163431412 .\!gp-hidden{display:none!important}.gps-577378976163431412 .gp-hidden{display:none}.gps-577378976163431412 .gp-h-auto{height:auto}.gps-577378976163431412 .gp-h-full{height:100%}.gps-577378976163431412 .gp-w-full{width:100%}.gps-577378976163431412 .gp-w-max{width:-moz-max-content;width:max-content}.gps-577378976163431412 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-577378976163431412 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-577378976163431412 .gp-max-w-full{max-width:100%}.gps-577378976163431412 .gp-flex-1{flex:1 1 0%}.gps-577378976163431412 .gp-flex-none{flex:none}.gps-577378976163431412 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577378976163431412 .gp-flex-col{flex-direction:column}.gps-577378976163431412 .gp-flex-wrap{flex-wrap:wrap}.gps-577378976163431412 .gp-items-center{align-items:center}.gps-577378976163431412 .gp-justify-center{justify-content:center}.gps-577378976163431412 .gp-overflow-hidden{overflow:hidden}.gps-577378976163431412 .gp-break-words{overflow-wrap:break-word}.gps-577378976163431412 .gp-text-center{text-align:center}.gps-577378976163431412 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-577378976163431412 .gp-no-underline{text-decoration-line:none}.gps-577378976163431412 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976163431412 .gp-duration-200{transition-duration:.2s}.gps-577378976163431412 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976163431412 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-577378976163431412 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-577378976163431412 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-577378976163431412 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-577378976163431412 .tablet\:\!gp-hidden{display:none!important}.gps-577378976163431412 .tablet\:gp-hidden{display:none}.gps-577378976163431412 .tablet\:gp-h-auto{height:auto}.gps-577378976163431412 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-577378976163431412 .mobile\:\!gp-hidden{display:none!important}.gps-577378976163431412 .mobile\:gp-hidden{display:none}.gps-577378976163431412 .mobile\:gp-h-auto{height:auto}.gps-577378976163431412 .mobile\:gp-flex-none{flex:none}}.gps-577378976163431412 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-577378976163431412 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLAFNh1hyw"}' data-id="gLAFNh1hyw" id="gLAFNh1hyw" data-same-height-subgrid-container class="gLAFNh1hyw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:auto;--pt:72px;--pb:72px;--mt-mobile:auto;--mt-tablet:auto;--pt-tablet:63px;--pb-tablet:63px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gekiIWpiF_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gT59erSF7H"}' data-id="gT59erSF7H" id="gT59erSF7H" data-same-height-subgrid-container class="gT59erSF7H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pl-tablet:15px;--pr-tablet:15px;--cg:auto;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gU_dvlMpmg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWoDOY2hQf"
        class="gWoDOY2hQf"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424913"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWoDOY2hQf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5ix_-c52u"
        class="g5ix_-c52u"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424914"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:76px;--size-tablet:76px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5ix_-c52u_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl)" class="gZJaXWYpqX ">
      
    {%- liquid
      assign standardEndDate = 1685556132239
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gZJaXWYpqX"
        gp-href
        class="gp-flex"
        style="--jc:left;--jc-mobile:center"
        gp-data='{"behaviour":"daily","dateStandard":1685581332239,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1684987332239,"hours":3,"mins":0,"startTime":1684976532239},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gZJaXWYpqX","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":{},"color":"transparent","isCustom":false,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"daily","dateStandard":1685581332239,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"","target":"_self","type":"stay-on-page"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1684987332239,"hours":3,"mins":0,"startTime":1684976532239},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"rgba(255, 255, 255, 0.09)","borderState":{"normal":{"border":"solid","borderLabel":"Style 1","borderType":"style-1","color":"#44403C","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"bg-3","colorNumber":"bg-3","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"8px","left":"16px","right":"16px","top":"8px"}},"labelTypo":{"attrs":{"color":"#B4B4B4"},"custom":{"fontSize":{"desktop":"14px","mobile":"13px","tablet":"14px"},"fontStyle":"normal","fontVariants":["100","100italic","300","300italic","regular","italic","700","700italic","900","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-2"},"labelTypography":{"custom":{"desktop":{"fontSize":"14px","fontStyle":"normal","fontWeight":"400","letterSpacing":"0px","lineHeight":"150%"},"mobile":{"fontSize":"13px"},"tablet":{"fontSize":"14px","lineHeight":"150%"}}},"numTypo":{"attrs":{"color":"#FFFFFF"},"custom":{"fontSize":{"desktop":"21px","mobile":"19px","tablet":"21px"},"fontStyle":"normal","fontWeight":"700","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"subheading-3"},"numTypography":{"custom":{"desktop":{"fontSize":"21px","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","lineHeight":"150%"},"mobile":{"fontSize":"19px"},"tablet":{"fontSize":"19px","lineHeight":"150%"}}},"roundedState":{"normal":{"bblr":"5px","bbrr":"5px","btlr":"5px","btrr":"5px","radiusType":"custom"}},"textAlign":{"desktop":"left","mobile":"center"}},"tag":"Countdown","uid":"gZJaXWYpqX","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:left;--jc-mobile:center">
          
          
          
    <div style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#44403C;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:rgba(255, 255, 255, 0.09)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text" id="day"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424916"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424916"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZJaXWYpqX_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#44403C;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:rgba(255, 255, 255, 0.09)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text" id="hour"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424916"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424917"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZJaXWYpqX_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#44403C;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:rgba(255, 255, 255, 0.09)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text" id="minute"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424917"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424917"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZJaXWYpqX_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:8px;--pb:8px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#44403C;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:rgba(255, 255, 255, 0.09)" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text" id="second"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424918"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZJaXWYpqX-text"
        class="gZJaXWYpqX"
        style="--c:var(--g-c-bg-3, bg-3);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424918"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-bg-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZJaXWYpqX_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:64px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gytMRtaMFF"].gp-button-base::before, [data-id="gytMRtaMFF-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #639651;
  
    
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
  
    }
  
      
  [data-id="gytMRtaMFF"]:hover::before, [data-id="gytMRtaMFF-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gytMRtaMFF" dataId="gytMRtaMFF" data-state="idle" aria-label="Buy now or never"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:46px;--pr:46px;--pt:16px;--pb:16px;--pl-tablet:46px;--pr-tablet:46px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:46px;--pr-mobile:46px;--pt-mobile:16px;--pb-mobile:16px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--hvr-bblr:99px;--hvr-bbrr:99px;--hvr-btlr:99px;--hvr-btrr:99px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-bg-3, bg-3);--bg:#639651;--hvr-c:#242424;--c:var(--g-c-bg-3, bg-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gytMRtaMFF gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-bg-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggytMRtaMFF_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g9vRi5FkjI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gW404JPhX4"}' data-id="gW404JPhX4" id="gW404JPhX4" data-same-height-subgrid-container class="gW404JPhX4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--pos:relative;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8FQpa1XdE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gNaOhoohjV"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:left"
      class="gp-group/image gp-relative force-publish-1755007424924 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNaOhoohjV"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_576723600090858235-0cc42d9c-c588-40db-a903-1aaca24ddfde.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcwLTY3MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgZmlsbD0idXJsKCNnLTY3MC02NzIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzAiIHRvPSI2NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_576723600090858235-0cc42d9c-c588-40db-a903-1aaca24ddfde.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcwLTY3MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgZmlsbD0idXJsKCNnLTY3MC02NzIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzAiIHRvPSI2NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_576723600090858235-0cc42d9c-c588-40db-a903-1aaca24ddfde.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcwLTY3MiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcwIiBoZWlnaHQ9IjY3MiIgZmlsbD0idXJsKCNnLTY3MC02NzIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzAiIHRvPSI2NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_576723600090858235-0cc42d9c-c588-40db-a903-1aaca24ddfde.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(244, 150, 63, 0.8)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghILCfqo0y"}' data-id="ghILCfqo0y" id="ghILCfqo0y" data-same-height-subgrid-container class="ghILCfqo0y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--bottom:156px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--left:-20px;--left-mobile:0px;--op:100%;--pageType:GP_STATIC;--pos:absolute;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--z:9;--cg:auto;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:270px;--w-tablet:270px;--w-mobile:200px;--bgc:rgba(244, 150, 63, 0.8);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqVSo31fld gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g25yQFwD-Q"}' data-id="g25yQFwD-Q" id="g25yQFwD-Q" data-same-height-subgrid-container class="g25yQFwD-Q gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--cg:var(--g-s-2xl);--gtc:minmax(0, 9fr) minmax(0, 3fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZ-bATkteu gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt-z6bZRjx"
        class="gt-z6bZRjx"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424968"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt-z6bZRjx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gNHvDlSHkT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdZ6xq4gpu"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:right"
      class="gp-group/image gp-relative force-publish-1755007424968 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdZ6xq4gpu"
    >
      <div
        
        style="border-radius:inherit;--jc:right"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/ccb9df34-89ba-4ca5-b1c0-9ec999bb8fb0/Frame%204265.svg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTQ4LTQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9InVybCgjZy00OC00OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTQ4IiB0bz0iNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ccb9df34-89ba-4ca5-b1c0-9ec999bb8fb0/Frame%204265.svg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTQ4LTQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9InVybCgjZy00OC00OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTQ4IiB0bz0iNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/ccb9df34-89ba-4ca5-b1c0-9ec999bb8fb0/Frame%204265.svg" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTQ4LTQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9InVybCgjZy00OC00OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTQ4IiB0bz0iNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/ccb9df34-89ba-4ca5-b1c0-9ec999bb8fb0/Frame%204265.svg"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:26px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYxR3gchD7"
        class="gYxR3gchD7"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pr:50px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424970"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYxR3gchD7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-577378976163431412 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/993mqj-bi/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577378957289062950&sectionId=577378976163431412)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWoDOY2hQf_text","label":"ggWoDOY2hQf_text","default":"<p>GET YOUR HAIR THE TREATMENT IT DESERVES</p>"},{"type":"html","id":"gg5ix_-c52u_text","label":"gg5ix_-c52u_text","default":"<p>Up to <span style=\"color:#F4963F;\">75% off</span> everything</p>"},{"type":"html","id":"ggZJaXWYpqX_dayLabel","label":"ggZJaXWYpqX_dayLabel","default":"Days"},{"type":"html","id":"ggZJaXWYpqX_hourLabel","label":"ggZJaXWYpqX_hourLabel","default":"Hrs"},{"type":"html","id":"ggZJaXWYpqX_minuteLabel","label":"ggZJaXWYpqX_minuteLabel","default":"Mins"},{"type":"html","id":"ggZJaXWYpqX_secondLabel","label":"ggZJaXWYpqX_secondLabel","default":"Secs"},{"type":"html","id":"ggZJaXWYpqX_weekLabel","label":"ggZJaXWYpqX_weekLabel","default":"Weeks"},{"type":"html","id":"ggytMRtaMFF_label","label":"ggytMRtaMFF_label","default":"Buy now or never"},{"type":"html","id":"ggt-z6bZRjx_text","label":"ggt-z6bZRjx_text","default":"<p>1268+</p>"},{"type":"html","id":"ggYxR3gchD7_text","label":"ggYxR3gchD7_text","default":"<p>Satisfied customers with our products</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
