

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577378976633193363.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-577378976633193363.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577378976633193363.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-577378976633193363.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-577378976633193363.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577378976633193363.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577378976633193363.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577378976633193363.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577378976633193363.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577378976633193363.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577378976633193363.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577378976633193363.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577378976633193363.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577378976633193363.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577378976633193363.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577378976633193363.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577378976633193363.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577378976633193363.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577378976633193363.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577378976633193363.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577378976633193363.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577378976633193363.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577378976633193363.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-577378976633193363.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577378976633193363.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577378976633193363.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577378976633193363.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577378976633193363.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577378976633193363.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577378976633193363.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577378976633193363.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577378976633193363.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-577378976633193363.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577378976633193363.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577378976633193363.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577378976633193363.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577378976633193363.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577378976633193363.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577378976633193363.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577378976633193363.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577378976633193363.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-577378976633193363.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577378976633193363.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-577378976633193363.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577378976633193363.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577378976633193363.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577378976633193363.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577378976633193363.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577378976633193363.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577378976633193363.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-577378976633193363.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577378976633193363.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-577378976633193363.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577378976633193363.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577378976633193363.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-577378976633193363.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577378976633193363.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-577378976633193363.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577378976633193363.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577378976633193363.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-577378976633193363.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577378976633193363.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577378976633193363.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-577378976633193363.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577378976633193363.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577378976633193363.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-577378976633193363.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577378976633193363.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577378976633193363 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-577378976633193363 .gp-absolute{position:absolute}.gps-577378976633193363 .gp-relative{position:relative}.gps-577378976633193363 .gp-inset-0{inset:0}.gps-577378976633193363 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-577378976633193363 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-577378976633193363 .gp-z-1{z-index:1}.gps-577378976633193363 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577378976633193363 .gp-mb-0{margin-bottom:0}.gps-577378976633193363 .gp-flex{display:flex}.gps-577378976633193363 .gp-inline-flex{display:inline-flex}.gps-577378976633193363 .gp-grid{display:grid}.gps-577378976633193363 .\!gp-hidden{display:none!important}.gps-577378976633193363 .gp-hidden{display:none}.gps-577378976633193363 .gp-h-full{height:100%}.gps-577378976633193363 .gp-w-full{width:100%}.gps-577378976633193363 .gp-max-w-full{max-width:100%}.gps-577378976633193363 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577378976633193363 .gp-flex-col{flex-direction:column}.gps-577378976633193363 .gp-items-center{align-items:center}.gps-577378976633193363 .gp-justify-center{justify-content:center}.gps-577378976633193363 .gp-self-center{align-self:center}.gps-577378976633193363 .gp-overflow-hidden{overflow:hidden}.gps-577378976633193363 .gp-break-words{overflow-wrap:break-word}.gps-577378976633193363 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-577378976633193363 .gp-no-underline{text-decoration-line:none}.gps-577378976633193363 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976633193363 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976633193363 .gp-duration-200{transition-duration:.2s}.gps-577378976633193363 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-577378976633193363 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976633193363 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-577378976633193363 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-577378976633193363 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-577378976633193363 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-577378976633193363 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-577378976633193363 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-577378976633193363 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-577378976633193363 .tablet\:\!gp-relative{position:relative!important}.gps-577378976633193363 .tablet\:\!gp-hidden{display:none!important}.gps-577378976633193363 .tablet\:gp-hidden{display:none}.gps-577378976633193363 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-577378976633193363 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-577378976633193363 .mobile\:\!gp-relative{position:relative!important}.gps-577378976633193363 .mobile\:\!gp-hidden{display:none!important}.gps-577378976633193363 .mobile\:gp-hidden{display:none}.gps-577378976633193363 .mobile\:\!gp-h-auto{height:auto!important}.gps-577378976633193363 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-577378976633193363 .mobile\:gp-justify-center{justify-content:center}}@media (max-width:1024px){.gps-577378976633193363 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-577378976633193363 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-577378976633193363 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-577378976633193363 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbzx_YCbIe"}' data-id="gbzx_YCbIe" id="gbzx_YCbIe" data-same-height-subgrid-container class="gbzx_YCbIe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:63px;--pt-tablet:63px;--pb-tablet:63px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSuchBySAY gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gSoSqL_zyK"
        class="gSoSqL_zyK gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:0px;--pb:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object]"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gSoSqL_zyK","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"target":"_self","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object];--bgc:var(--g-c-bg-2)">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--hvr-op:0%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG2L5Dr0jj gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWtoFsUck2"}' data-id="gWtoFsUck2" id="gWtoFsUck2" data-same-height-subgrid-container class="gWtoFsUck2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:15px;--pr:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:930px;--w-tablet:930px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gP_kMioRft gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6lKgsc7PJ"
        class="g6lKgsc7PJ"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:96px;--mb:var(--g-s-m);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007420294"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6lKgsc7PJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gImjGAr947"
        class="gImjGAr947"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007420295"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggImjGAr947_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:96px;--ta:center" >
        <style>[data-id="g2BoXk7p3f"].gp-button-base::before, [data-id="g2BoXk7p3f-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
  
    }
  
      
  [data-id="g2BoXk7p3f"]:hover::before, [data-id="g2BoXk7p3f-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g2BoXk7p3f" dataId="g2BoXk7p3f" data-state="idle" aria-label="Get deal now"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:78px;--pr:78px;--pt:16px;--pb:16px;--pl-tablet:78px;--pr-tablet:78px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:84px;--pr-mobile:84px;--pt-mobile:16px;--pb-mobile:16px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--hvr-bblr:99px;--hvr-bbrr:99px;--hvr-btlr:99px;--hvr-btrr:99px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-bg-3, bg-3);--bg:#F4963F;--hvr-c:#242424;--size:21px;--lh:150%;--fs:normal;--weight:600;--ls:0px;--size-tablet:19px;--lh-tablet:150%;--size-mobile:19px"
          class="g2BoXk7p3f gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-bg-3 undefined"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:21px;--lh:150%;--fs:normal;--weight:600;--ls:0px;--size-tablet:19px;--lh-tablet:150%;--size-mobile:19px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg2BoXk7p3f_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" srcset="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" srcset="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" data-src="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object];--w:100%;--w-tablet:100%;--w-mobile:100%;--z:-1"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-577378976633193363 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/993mqj-bi/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577378957289062950&sectionId=577378976633193363)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6lKgsc7PJ_text","label":"gg6lKgsc7PJ_text","default":"<p>Time to make your hair shine!</p>"},{"type":"html","id":"ggImjGAr947_text","label":"ggImjGAr947_text","default":"<p>Only on Black Friday<br>Premium haircare at the best price ever</p>"},{"type":"html","id":"gg2BoXk7p3f_label","label":"gg2BoXk7p3f_label","default":"Get deal now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
