

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577378979099444115.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-577378979099444115.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577378979099444115.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577378979099444115.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577378979099444115.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577378979099444115.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577378979099444115.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577378979099444115.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577378979099444115.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577378979099444115.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577378979099444115.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577378979099444115.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577378979099444115.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577378979099444115.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577378979099444115.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577378979099444115.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577378979099444115.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577378979099444115.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577378979099444115.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577378979099444115.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577378979099444115.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577378979099444115.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-577378979099444115.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577378979099444115.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577378979099444115.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577378979099444115.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577378979099444115.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-577378979099444115.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577378979099444115.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577378979099444115.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577378979099444115.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577378979099444115.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577378979099444115.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577378979099444115.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577378979099444115.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577378979099444115.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577378979099444115.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577378979099444115.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577378979099444115.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577378979099444115.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577378979099444115.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577378979099444115.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577378979099444115.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577378979099444115.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577378979099444115.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577378979099444115.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577378979099444115.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577378979099444115.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577378979099444115.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577378979099444115.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577378979099444115.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577378979099444115.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-577378979099444115.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577378979099444115.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577378979099444115.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577378979099444115.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577378979099444115.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577378979099444115.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577378979099444115.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577378979099444115.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577378979099444115.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-577378979099444115.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577378979099444115.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577378979099444115.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577378979099444115.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577378979099444115.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577378979099444115.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577378979099444115 .-gp-rotate-90,.gps-577378979099444115 .gp-rotate-180,.gps-577378979099444115 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-577378979099444115 .gp-relative{position:relative}.gps-577378979099444115 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577378979099444115 .gp-mb-0{margin-bottom:0}.gps-577378979099444115 .gp-flex{display:flex}.gps-577378979099444115 .gp-inline-flex{display:inline-flex}.gps-577378979099444115 .gp-grid{display:grid}.gps-577378979099444115 .\!gp-hidden{display:none!important}.gps-577378979099444115 .gp-hidden{display:none}.gps-577378979099444115 .gp-min-h-0{min-height:0}.gps-577378979099444115 .gp-w-full{width:100%}.gps-577378979099444115 .gp-max-w-full{max-width:100%}.gps-577378979099444115 .-gp-rotate-90{--tw-rotate:-90deg}.gps-577378979099444115 .-gp-rotate-90,.gps-577378979099444115 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-577378979099444115 .gp-rotate-180{--tw-rotate:180deg}.gps-577378979099444115 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-577378979099444115 .gp-cursor-pointer{cursor:pointer}.gps-577378979099444115 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-577378979099444115 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577378979099444115 .gp-flex-col{flex-direction:column}.gps-577378979099444115 .gp-items-center{align-items:center}.gps-577378979099444115 .gp-justify-center{justify-content:center}.gps-577378979099444115 .gp-gap-\[16px\]{gap:16px}.gps-577378979099444115 .gp-overflow-hidden{overflow:hidden}.gps-577378979099444115 .gp-overflow-clip{overflow:clip}.gps-577378979099444115 .gp-break-all{word-break:break-all}.gps-577378979099444115 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378979099444115 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378979099444115 .gp-duration-200{transition-duration:.2s}.gps-577378979099444115 .gp-duration-500{transition-duration:.5s}.gps-577378979099444115 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-577378979099444115 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-577378979099444115 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-577378979099444115 .tablet\:\!gp-hidden{display:none!important}.gps-577378979099444115 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-577378979099444115 .mobile\:\!gp-hidden{display:none!important}.gps-577378979099444115 .mobile\:gp-hidden{display:none}}.gps-577378979099444115 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-577378979099444115 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-577378979099444115 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkFbHQCw4M"}' data-id="gkFbHQCw4M" id="gkFbHQCw4M" data-same-height-subgrid-container class="gkFbHQCw4M gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-tablet:64px;--pb-tablet:64px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4Iklqlipn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsMYn6qG_D"}' data-id="gsMYn6qG_D" id="gsMYn6qG_D" data-same-height-subgrid-container class="gsMYn6qG_D gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:776px;--w-tablet:776px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbBySkKwLp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7qrQVVEUT"
        class="g7qrQVVEUT"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:56px;--mb-tablet:49px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424193"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7qrQVVEUT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined)" class="g72umAdc9z ">
      
    <gp-accordion data-id="g72umAdc9z" class="gp-flex gp-flex-col gp-w-full" style="--gg:var(--g-s-2xl);border-radius:inherit"
      gp-data='{"uid":"g72umAdc9z","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"g72umAdc9z","childListNumber":[],"chidlrenUid":["gS7_K6YRxe","g3AcLk8TOo","g8pLx3nDSa","gjlQIH4A6L","go4I64XH8v"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"normal":"#000000"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"30px","vertical":"30px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-2xl)","padding":{"bottom":"0px","left":"30px","right":"30px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"30px","right":"30px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"30px","right":"30px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"30px","left":"30px","right":"30px","top":"30px","type":"custom"}},"mobile":{"padding":{"bottom":"30px","left":"30px","right":"30px","top":"30px","type":"custom"}},"tablet":{"padding":{"bottom":"30px","left":"30px","right":"30px","top":"30px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#000000;--icon-expand-active-color:#000000;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EDEEEE">
    <div data-index="0" class="g72umAdc9z gp-overflow-hidden gp-child-item-g72umAdc9z gp-accordion-item">
      <div aria-hidden uid="gS7_K6YRxe" id="gS7_K6YRxe" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g72umAdc9z gp-accordion-item-g72umAdc9z-0" style="--pl:30px;--pr:30px;--pt:30px;--pb:30px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:30px;--pb-tablet:30px;--pl-mobile:30px;--pr-mobile:30px;--pt-mobile:30px;--pb-mobile:30px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:16px;height:16px"
            data-index="0"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424195"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg72umAdc9z_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:30px;--pr:30px;--pl-tablet:30px;--pr-tablet:30px;--pl-mobile:30px;--pr-mobile:30px">
          <div
      data-same-height-display-contents
      
      class="grM5gMGmnV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGmt1emoOp"
        class="gGmt1emoOp"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(undefined);--pb:30px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424196"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGmt1emoOp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#000000;--icon-expand-active-color:#000000;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EDEEEE">
    <div data-index="1" class="g72umAdc9z gp-overflow-hidden gp-child-item-g72umAdc9z gp-accordion-item">
      <div aria-hidden uid="g3AcLk8TOo" id="g3AcLk8TOo" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g72umAdc9z gp-accordion-item-g72umAdc9z-1" style="--pl:30px;--pr:30px;--pt:30px;--pb:30px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:30px;--pb-tablet:30px;--pl-mobile:30px;--pr-mobile:30px;--pt-mobile:30px;--pb-mobile:30px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:16px;height:16px"
            data-index="1"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424198"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg72umAdc9z_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:30px;--pr:30px;--pl-tablet:30px;--pr-tablet:30px;--pl-mobile:30px;--pr-mobile:30px">
          <div
      data-same-height-display-contents
      
      class="gl-TTHC636 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsIPeRbI4b"
        class="gsIPeRbI4b"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(undefined);--pb:30px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424199"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsIPeRbI4b_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#000000;--icon-expand-active-color:#000000;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EDEEEE">
    <div data-index="2" class="g72umAdc9z gp-overflow-hidden gp-child-item-g72umAdc9z gp-accordion-item">
      <div aria-hidden uid="g8pLx3nDSa" id="g8pLx3nDSa" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g72umAdc9z gp-accordion-item-g72umAdc9z-2" style="--pl:30px;--pr:30px;--pt:30px;--pb:30px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:30px;--pb-tablet:30px;--pl-mobile:30px;--pr-mobile:30px;--pt-mobile:30px;--pb-mobile:30px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:16px;height:16px"
            data-index="2"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424200"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg72umAdc9z_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:30px;--pr:30px;--pl-tablet:30px;--pr-tablet:30px;--pl-mobile:30px;--pr-mobile:30px">
          <div
      data-same-height-display-contents
      
      class="gOeuSD1CuS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g91UnD7KoI"
        class="g91UnD7KoI"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(undefined);--pb:30px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424201"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg91UnD7KoI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#000000;--icon-expand-active-color:#000000;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EDEEEE">
    <div data-index="3" class="g72umAdc9z gp-overflow-hidden gp-child-item-g72umAdc9z gp-accordion-item">
      <div aria-hidden uid="gjlQIH4A6L" id="gjlQIH4A6L" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g72umAdc9z gp-accordion-item-g72umAdc9z-3" style="--pl:30px;--pr:30px;--pt:30px;--pb:30px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:30px;--pb-tablet:30px;--pl-mobile:30px;--pr-mobile:30px;--pt-mobile:30px;--pb-mobile:30px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:16px;height:16px"
            data-index="3"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424203"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg72umAdc9z_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:30px;--pr:30px;--pl-tablet:30px;--pr-tablet:30px;--pl-mobile:30px;--pr-mobile:30px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gRdq8mAOvn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyMsLZXPhT"
        class="gyMsLZXPhT"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(undefined);--pb:30px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424204"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyMsLZXPhT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#000000;--icon-expand-active-color:#000000;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EDEEEE">
    <div data-index="4" class="g72umAdc9z gp-overflow-hidden gp-child-item-g72umAdc9z gp-accordion-item">
      <div aria-hidden uid="go4I64XH8v" id="go4I64XH8v" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g72umAdc9z gp-accordion-item-g72umAdc9z-4" style="--pl:30px;--pr:30px;--pt:30px;--pb:30px;--pl-tablet:30px;--pr-tablet:30px;--pt-tablet:30px;--pb-tablet:30px;--pl-mobile:30px;--pr-mobile:30px;--pt-mobile:30px;--pb-mobile:30px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:16px;height:16px"
            data-index="4"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424205"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg72umAdc9z_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:30px;--pr:30px;--pl-tablet:30px;--pr-tablet:30px;--pl-mobile:30px;--pr-mobile:30px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="goLncklWGS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g67Z0uqY-D"
        class="g67Z0uqY-D"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(undefined);--pb:30px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007424206"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg67Z0uqY-D_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-577378979099444115 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/993mqj-bi/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577378957289062950&sectionId=577378979099444115)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7qrQVVEUT_text","label":"gg7qrQVVEUT_text","default":"<p>Frequently Asked Questions</p>"},{"type":"html","id":"gg72umAdc9z_childItem_0","label":"gg72umAdc9z_childItem_0","default":"How long does shipping take?"},{"type":"html","id":"gg72umAdc9z_childItem_1","label":"gg72umAdc9z_childItem_1","default":"How can I make a payment?"},{"type":"html","id":"gg72umAdc9z_childItem_2","label":"gg72umAdc9z_childItem_2","default":"Can I inspect the goods before I receive them?"},{"type":"html","id":"gg72umAdc9z_childItem_3","label":"gg72umAdc9z_childItem_3","default":"What is the policy for returns and exchanges?"},{"type":"html","id":"gg72umAdc9z_childItem_4","label":"gg72umAdc9z_childItem_4","default":"Is international shipping available at the store?"},{"type":"html","id":"ggGmt1emoOp_text","label":"ggGmt1emoOp_text","default":"<p>Standard shipping usually takes from 3 to 5 days. We do provide express next-day shipping at an extra cost.</p>"},{"type":"html","id":"ggsIPeRbI4b_text","label":"ggsIPeRbI4b_text","default":"<p>Standard shipping usually takes from 3 to 5 days. We do provide express next-day shipping at an extra cost.</p>"},{"type":"html","id":"gg91UnD7KoI_text","label":"gg91UnD7KoI_text","default":"<p>Standard shipping usually takes from 3 to 5 days. We do provide express next-day shipping at an extra cost.</p>"},{"type":"html","id":"ggyMsLZXPhT_text","label":"ggyMsLZXPhT_text","default":"<p>Standard shipping usually takes from 3 to 5 days. We do provide express next-day shipping at an extra cost.</p>"},{"type":"html","id":"gg67Z0uqY-D_text","label":"gg67Z0uqY-D_text","default":"<p>Standard shipping usually takes from 3 to 5 days. We do provide express next-day shipping at an extra cost.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
